@tailwind base;

/* Write your own custom base styles here */


/* Start purging... */

@tailwind components;

/* Stop purging. */


/* Write you own custom component styles here */


/* For GFM */

li.task-list-item {
    list-style: none
}

a {
    color: #666;
}


/* For Table of Contents */

#toc ul {
    @apply list-decimal
}

#toc li {
    @apply my-1
}

#toc li li {
    margin-left: 1em;
    list-style: lower-alpha
}


/* Start purging... */

@tailwind utilities;

/* Stop purging. */


/* Your own custom utilities */

table {
    margin: 0 auto;
}

th {
    background-color: rgb(241, 241, 241);
}

th,
td {
    padding: 0.25em 1em;
    border: solid 1px #999999;
}